body {
    font-family: Arial, sans-serif;
    background: #aef0ed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.IniciarSesion,
.CrearCuenta {
    background-color: #ccf8e7;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    width: 320px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 12px;
    background-color: #00bfa6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #009e8c;
}

p {
    margin-top: 15px;
}

a {
    color: #00bfa6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}