<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="IniciarSesion">
        <h1>Iniciar Sesión</h1>
    <form id="loginForm" action="main.html" method="post">
        <input type="email" id="correo" placeholder="Correo electrónico" required>
        <input type="password" id="contrasena" placeholder="Contraseña" required>
        <button type="submit">Ingresar</button>
    </form>
    <p>¿No tienes cuenta? <a href="registrar.html">Regístrate</a></p>
    </div>
    <script src="script.js"></script>
</body>
</html>